<form [formGroup]="form" (ngSubmit)="submit()" class="dialog-form">
  @if (refusal(); as message) {
    <app-dialog-refusal [message]="message" />
  }

  <app-user-who-card [user]="user" />

  <div class="field">
    <label for="set-temporary-password">{{ 'users.temporaryPassword' | transloco }}</label>
    <p-password
      inputId="set-temporary-password"
      formControlName="temporaryPassword"
      [feedback]="false"
      [toggleMask]="true"
      autocomplete="new-password"
      dir="ltr"
      fluid />
  </div>

  @if (isSelf) {
    <p-message severity="info">{{ 'users.temporaryPasswordSelfNote' | transloco }}</p-message>
  } @else {
    <p-message severity="info">{{ 'users.temporaryPasswordNote' | transloco }}</p-message>
  }

  <div class="dialog-form__actions">
    <p-button [label]="'general.cancel' | transloco" severity="secondary" type="button" text (onClick)="cancel()" />
    <p-button [label]="'users.setPassword' | transloco" type="submit" [disabled]="form.invalid || isSaving()" />
  </div>
</form>
