<div class="week-grid-legend">
    <span class="week-grid-legend__item">
        <span class="week-grid-legend__swatch week-grid-legend__swatch--open"></span>
        {{ 'weekGrid.legend.open' | transloco }}
    </span>
    <span class="week-grid-legend__item">
        <span class="week-grid-legend__swatch week-grid-legend__swatch--unavailable"></span>
        {{ 'weekGrid.legend.unavailable' | transloco }}
    </span>
    <span class="week-grid-legend__item">
        <span class="week-grid-legend__swatch week-grid-legend__swatch--void"></span>
        {{ 'weekGrid.legend.outsideGrid' | transloco }}
    </span>
</div>
